.header {
	display: flex;
	justify-content: space-between;
	margin-bottom: 130px;
}

.logo {
	font-family: PT Serif;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	line-height: 32px;
	padding: 39px 0;
	padding-left: 48px;
	position: relative;
}

.logo__circle {
    width: 28px;
    height: 28px;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

.logo__circle_color_blue {
    left: 8px;
    top: 56%;
    background: #C8DBFB;
    opacity: .7;
    border-radius: 50%;
}

.logo__circle_color_dark-blue {
	background: #0056EC;
	opacity: .7;
	border-radius: 50%;
}

.menu {
	display: flex;
	align-items: center;
	padding-top: 5px;
	padding-right: 2px;
	padding-left: 8px;
}

.menu__item {
    position: relative;
	margin-right: 26px;
	font: 500 18px/21px Roboto, arial, helvetica, sans-serif;
	color: #000000;
	text-decoration: none;
	transition: opacity .5s;
}

.menu__item:last-child {
	margin-right: 0;
}

.menu__item:hover {
	opacity: 0.5;
}

.menu__item_active::after {
	position: absolute;
	display: block;
	content: '';
	left: 0;
	width: 100%;
	height: 3px;
	background: #0056EC;
}

.menu__item:after {
	position: absolute;
	display: block;
	content: '';
	left: 0;
	width: 0;
	height: 3px;
	background: #0056EC;
	opacity: 0;
	transition: opacity .5s, width .5s;
}
.menu__item:hover:after, .menu__item_active:after {
	opacity: 1;
	width: 100%;
}

.wrapper {
	margin: auto;
	width: 80%;
}


body {
	margin: 0;
}

.main {
	padding: 73px 63% 206px 0;
	background: top right no-repeat url(img/mainimg.svg);
	margin-left: 4px;
	margin-top: 2px;
}

.main__title {
	font-family: PT Serif;
	font-style: normal;
	font-weight: bold;
	font-size: 66px;
	line-height: 87px;
	margin: 0 0 37px 0;
	max-width: 567px;
	left: calc(50% - 567px/2 - 481.5px);
}

.main__title-text_highlight {
 	background: #ECF3FF;
}

.main__text {
	font: normal 22px/26px Roboto, arial, helvetica, sans-serif;
	color: #000000;
	margin: 0 0 40px 0;
	max-width: 455px;
}

.main__button {
	display: inline-block;
	font: 500 18px/21px Roboto, arial, helvetica, sans-serif;
	color: #FFFFFF;
	background: #0056EC;
	padding: 18px 36px 18px 21px;
	border-radius: 4px;
	text-decoration: none;
	transition: opacity .5s;
}
	.main__button:hover {
	opacity: .5;
}